<div class="flex-1 flex flex-col items-center justify-center bg-[#ea5506]">
  <div class="text-7xl font-extrabold text-[#edd3a1] mb-2">Japanese</div> 
  <div class="text-7xl font-extrabold text-[#edd3a1] mb-2">traditional</div>
  <div class="text-7xl font-extrabold text-[#edd3a1] mb-2">color</div>
  <div class="text-7xl font-extrabold text-[#edd3a1] mb-2">palet</div>
</div>
