<div class="flex-1 flex flex-col items-center justify-center">
  <div class="text-7xl font-extrabold text-[#745399] mb-2">Japanese</div> 
  <div class="text-7xl font-extrabold text-[#4d5aaf] mb-2">traditional</div>
  <div class="text-7xl font-extrabold text-[#a22041] mb-2">color</div>
  <div class="text-7xl font-extrabold text-[#5b7e91] mb-2">palet</div>
</div>
