<div class="flex navbar h-16 bg-[#0d0015]">
  <div class="flex-none">
    <div class="drawer">
      <input id="m-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="m-drawer" class="btn btn-square btn-ghost" id="menu-icon">
        </label>
      </div>
      <div class="drawer-side z-50">
        <label for="m-drawer" aria-label="close sidebar" class="drawer-overlay"></label> 
        <ul class="menu p-4 w-80 min-h-full bg-[#eaf4fc] text-base-content">
          <li><%= link_to(t('colors.index.title'), colors_path) %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-1">
    <%= link_to root_path do %>
      <span class="text-xl text-[#e198b4]">JtcpTool</span>
    <% end %>
  </div>
  <div class="justify-end text-[#e198b4] mr-4 hover:text-[#b44c97]">
    <%= link_to(t('devise.registrations.new.sign_up'), new_user_registration_path) %>
  </div>
  <div class="justify-end text-[#e198b4] mr-4 hover:text-[#b44c97]">
    <%= link_to(t('devise.sessions.new.sign_in'), new_user_session_path) %>
  </div>
</div>


