<%= javascript_include_tag "favoriteColors", "data-turbo-track": "reload", defer: true %>
<div class="flex-1">
  <% breadcrumb :favorites_colors, current_user %>
  <% if @colors.present? %>
    <%= tag.div(id: "favorites", data: { colors: @colors, colorLength: @colors.length, favorites: @favorites }.to_json) do %><% end %> 
  <% else %>
    <div>
      <p><%= t(".no_result") %></p>
    </div>
  <% end %>
</div>
