<div class="flex-1">
  <% breadcrumb :colors %>
  <%= tag.div(id: "colorLength", class: %w(container mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-8 bg-white), data: { colorLength: @colors.length }.to_json) do %>
    <%= render @colors %>
  <% end %>
</div>